  /**********/
 /* GLOBAL */
/**********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
}

:root {
    --main-blue: #4E73EF;
    --main-blue-hover: #4EB7EF;
    --main-green: #4CAF50;
    --main-green-hover: #7ED172;
    --main-grey: #6D6D6D;
    --main-bg-color: #FFFFFF;
    --main-footer-title: #000000;
    --main-footer-borderTop: #707070;
}

html{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100%;
    text-align: left;
}

.wrapper{
    height: 100%;
    width: 90%;
    max-width: 1342px;
    margin: 0 auto;
    position: relative;
}

.line-break {
    width: 100%;
}

h1, h2, h3, b{
    font-weight: 600;
}

h1{
    font-size: 48px;
    width: 100%;
}

h2{
    font-size: 36px;
    margin-bottom: 50px;
}

h3{
    font-size: 20px;
    line-height: 25px;
}

b, a{
    font-size: 14px;
}

p{
    font-size: 18px;
    color: var(--main-grey);
    line-height: 25px;
    width: 100%;
}

a{
    color: var(--main-blue);
}

a:hover{
    text-decoration: underline;
}

  /*******/
 /* ONE */
/*******/

.one{
    height: 95vh;
}

.one .title{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.one .title p{
    margin-left: 4px;
}

  /*******/
 /* TWO */
/*******/
#mobile{
    display: none;
}

#desktop{
    display: block;
}

.two img{
    width: 450px;
    height: 300px;
}

.two .scheda1{
    border: 1px solid var(--main-green);
    transition: .5s;
}

.two .scheda1 p, .two .scheda2 p{
    transition: .5s;
}

.two .scheda1:hover{
    border-color: var(--main-green-hover);
    background-color: var(--main-green-hover);
    color: var(--main-bg-color);
    transition: .5s;
}

.two .scheda1:hover p, .two .scheda2:hover p{
    color: var(--main-bg-color);
    transition: .5s;
}

.two .scheda2{
    border: 1px solid var(--main-blue);
    transition: .5s;
}

.two .scheda2:hover{
    border-color: var(--main-blue-hover);
    background-color: var(--main-blue-hover);
    color: var(--main-bg-color);
    transition: .5s;
}

.two .scheda1, .two .scheda2{
    border-radius: 5px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.two .scheda1 .scritte, .two .scheda2 .scritte{
    margin: 137px 0 137px 45px;
}

.two .scheda1 img, .two .scheda2 img{
    margin: 31px 45px 31px 0;
    border-radius: 5px;
}

  /**********************/
 /* IMMAGINE DI SCROLL */
/**********************/

.scroll{
    width: 50px;
    margin: 10vh auto;
}
.scroll img{
    width: 100%;
}
  /***********/
 /*  THREE  */
/***********/
.three{
    margin-top: 10vh;
    width: 100%;
    text-align: center;
}
.three h1{
    font-weight: 700;
    font-size: 20px;
}
.three h2{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}
.three h3{
    font-weight: 400;
    font-size: 20px;
}
.three h4{
    font-weight: 300;
    font-size: 20px;
}
.three .noLink{
    text-decoration: none;
    color: var(--main-grey);
}
.three picture{
    width: 50px;
    height: 50px;
}
.three .des{
    margin-left: 70px;
    margin-top: -60px;
}
.three .txt,
.three .francoli{
    position: static;
    display: inline-block;
    text-align: left;
}
.three .txt{
    margin-bottom: 50px;
    margin-left: -155px;
}
.three .txt .exp{
    margin-top: 20px;
    margin-left: 70px;
}
.three .francoli{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 50px;
}
.three .francoli .exp{
    margin-top: 20px;
    margin-left: 70px;
}

  /********/
 /* FOUR */
/********/
.four{
    text-align: center;
    margin: 30vh 0 20vh 0;
}

.four a{
    padding: 1px 5px;
    font-size: 24px;
    background:
        linear-gradient(
            to bottom, var(--main-blue) 0%,
            var(--main-blue) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    color: var(--main-blue);
    text-decoration: none;
    transition: background-size .3s;
    border-radius: 5px;
}

.four a:hover {
    background-size: 4px 50px;
    color: var(--main-bg-color);
    transition: background-size .3s;
}

  /**********/
 /* FOOTER */
/**********/

.footer{
    margin-top: 305px;
    border-top: 1px solid var(--main-footer-borderTop);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer b{
    margin-left: 2px;
}

.footer a{
    padding: 1px 2px;
    background:
        linear-gradient(
            to bottom, var(--main-blue) 0%,
            var(--main-blue) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    color: var(--main-blue);
    text-decoration: none;
    transition: background-size .3s;
    border-radius: 3px;
}

.footer a:hover {
    background-size: 4px 50px;
    color: var(--main-bg-color);
    transition: background-size .3s;
}

.footer .links{
    margin: 30px 0 30px 0;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .links .network, .footer .links .career{
    margin-top: 20px;
    min-width: 100px;
}

.footer .links .career{
    margin-right: 100px;
}
  /**************/
 /* RESPONSIVE */
/**************/

@media(max-width: 900px){
    
    body{
        min-width: 550px;
        height: 100vh;
        text-align: left;
        margin: 0 auto;
    }
    
    #desktop{
        display: none;
    }
    
    #mobile{
        display: block;
    }
    
    .two .scheda1 .container, .two .scheda2 .container{
        margin: 30px auto;
    }
    
    .two .scheda1 img, .two .scheda2 img{
        margin: 30px 0 0 0;
    }
    
    .two .scheda1 .scritte, .two .scheda2 .scritte{
        margin: 0;
    }
}